@import './variables/colors';

a {
	color: $link;
	text-decoration: none;
}

.plain-links a {
	color: $base-font-color;

	&:hover {
		color: #0a58ca;
	}
}

.btn-link {
	border: none;
	background-color: transparent;
	padding: 0;
	color: $link;
	text-decoration: none;
}

.flush-list ul {
	padding-left: 1rem;
}
