@import './variables/fonts';
@import './variables/colors';
@import './variables/media-queries';

.input-group > .input-group-append:not(:last-child) > .input-group-text {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

input[type='radio'] {
	cursor: pointer;
	transform: translate(0px);
}

//Override browser arrows
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}
//end

//Override autofill backgrounds
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
	box-shadow: 0 0 0px 1000px #fff inset;
}

input:-internal-autofill-selected {
	appearance: menulist-button;
	background-color: #fff !important;
	background-image: none !important;
	color: -internal-light-dark(#000, #fff) !important;
}
//end

label[as='legend'] {
	font-weight: $strong;
}

.was-validated input:not([required]).form-control:valid {
	border-color: $gray-400;
	padding-right: 0.75rem;
	background-image: none;
	box-shadow: none;
}

.form-control {
	color: $base-font-family;
}

form {
	margin-bottom: 2rem;

	@include screen-md {
		margin-bottom: 4rem;
	}
}

.form-text {
	display: block;
	margin-top: 0;
	font-size: 65%;
}

.hideLabels {
	label.form-label,
	fieldset > legend {
		@extend .visually-hidden;
	}
}
