@import './partials/fonts';
@import './partials/colors';
@import './partials/mediaQueries';

.input-group > .input-group-append:not(:last-child) > .input-group-text {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

select {
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../images/icons/icon-caret-down.svg);
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 16px;

	&::-moz-focus-inner {
		border: none;
	}
}

input[type='radio'] {
	cursor: pointer;
	transform: translate(0px);
}

//Override browser arrows
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}
//end

//Override autofill backgrounds
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
	box-shadow: 0 0 0px 1000px #fff inset;
}

input:-internal-autofill-selected {
	appearance: menulist-button;
	background-color: #fff !important;
	background-image: none !important;
	color: -internal-light-dark(#000, #fff) !important;
}
//end

label[as='legend'] {
	font-weight: $strong;
}

//Indentation
label.form-label {
	padding-left: 2rem;
}

fieldset fieldset .form-group:not(:nth-of-type(1)) label.form-label {
	padding-left: 3rem;
}
//end

.was-validated input:not([required]).form-control:valid {
	border-color: $gray-400;
	padding-right: 0.75rem;
	background-image: none;
	box-shadow: none;
}

.form-control {
	color: $base-font-family;
}

.form-check-input[disabled] ~ .form-check-label {
	color: $disabled-font;
}

.form-check-inline {
	margin-right: 0;

	@include screen-sm {
		margin-right: 0.75rem;
	}
}
