.container {
	@include screen-xxl {
		max-width: 1200px;
	}
}

.container {
	&--sm {
		@include screen-lg {
			width: 50%;
		}
	}
	&--md {
		@include screen-lg {
			width: 75%;
		}
	}
}

section,
.section {
	margin-bottom: 2rem;

	@include screen-xxl {
		margin-bottom: 3rem;
	}
}
