@import './variables/fonts';
@import './variables/colors';

html,
body {
	margin: 0;
	font-family: $base-font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $base-font-color;
	font-size: 16px;
}

h1,
h2 {
	margin-bottom: 1.5rem;
}

.small {
	font-size: 65%;
}
