@import '../../styles/variables/media-queries';

.home-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

	.card {
		margin-bottom: 1rem;
		width: 45%;
	}

	.card-img-top {
		height: 140px;

		@include screen-lg {
			height: 170px;
		}

		@include screen-xxl {
			height: 200px;
		}
	}
}
