@import '../../styles/variables/fonts';
@import '../../styles/variables/media-queries';

.breakdown-row {
	font-size: 85%;

	td {
		padding-left: 2rem;
	}
}

.btn-link--breakdown {
	font-size: 75%;
	margin-top: calc($base-font * 0.25);
	@include screen-sm {
		float: right;
	}
}
