@import '../../styles/variables/colors';

$nav-heroscroll-bg: #fffeea;

.navbar {
	background-color: #fff;
	border-bottom: 1px var(--gray) solid;
	height: 3.5rem;

	.navbar-collapse {
		background-color: #fff;
	}

	//Contrast nav color on scroll past hero
	&--heroscroll {
		background-color: $nav-heroscroll-bg;

		.navbar-collapse {
			background-color: $nav-heroscroll-bg;
		}

		.dropdown-menu {
			background-color: $nav-heroscroll-bg;
		}
	}
	//end

	.navbar-nav .nav-link {
		color: $base-font-color;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.navbar-collapse {
	flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: $link-hover;
}

.dropdown-menu {
	border: none;
}

.dropdown-item {
	&:hover,
	&:focus {
		color: $link-hover;
	}
	&:active,
	&.active {
		color: $link-hover;
		background-color: inherit;
	}
}
