@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';

//Typography
$base-font-color: #575757;
$disabled-font: lighten($base-font-color, 60%);
$link: #0076dc;
$link-hover: #0056b3;

//General
$light-blue: lighten($blue, 10%);
$panel: #fffdf5;
