@import '../../../styles/variables/media-queries';

.horizontal-form {
	.form-control,
	.form-select,
	.input-group {
		@include screen-md {
			width: 70%;
		}

		@include screen-lg {
			width: 55%;
		}

		@include screen-xl {
			width: 50%;
		}
	}

	//Indentation
	label.form-label {
		padding-left: 2rem;
	}

	fieldset fieldset {
		legend.form-label {
			padding-left: 1rem;
			font-size: inherit;
			font-size: calc(1rem + 0.3vw);
		}

		label.form-label {
			padding-left: 3rem;
		}
	}
	//end
}
